.contactus{
    display: flex;
    max-width: 90%;
    margin-top: 80px auto;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 20px;
}

.contactus-col{
    flex-basis: 48%;
}

.contactus-col h3{
    margin-bottom: 10px;
}

.contactus-col .msg-icon{
    margin-left: 10px;
    width: 30px;
}

.contactus-col p{
    text-align: left;
    line-height: 1.3;
    margin-bottom: 20px;
}

.support-info ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap:20px;
}

.support-info ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    font-size: 15px;
    list-style: none;
}

.support-info ul li img{
    width: 25px;
}


.contact-us-form input,.contact-us-form textarea{
    display: block;
    width: 100%;
    background-color: #EBECFE;
    padding: 15px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-us-form button{
    margin: 15px 0;
}

.hide-message{
    display: none;
}

.show-message{
    display: block;
    width: 30%;
    color:#fff;
    background-color: rgb(119, 175, 119);
    padding: 5px;
}